<%= form_for(user) do |f| %>

  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>

      <%= render 'shared/error_messages' %>

      <div class="field center">
        <%= f.text_field :name, class: 'form-control',  placeholder: 'Name' %>
      </div>

      <div class="field center">
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>

       <div class="field center">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </div>

      <div class="field center">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>
      </div>

      <div class="actions center">
        <%= f.submit 'Create!', class: "btn btn-primary" %>
      </div>
    </div>
  </div>

<% end %>
