<%= form_for(user) do |f| %>

  <div class='row'>
    <div class='col-md-4 col-md-offset-4'>
      <div class='card' style='margin-top: 60px;'>
        <h1>Edit Profile</h1>

        <%= render 'shared/error_messages' %>

        <div class="field center">
          <%= f.text_field :name, class: 'form-control',  placeholder: 'Name' %>
        </div>

        <div class="field center">
          <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>

        <div class="field center">
          <%= f.text_area :bio, class: 'form-control', placeholder: 'About You' %>
        </div>

        <div class="actions center">
          <%= f.submit 'Update Info', class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

<% end %>
