<%# 
  fills the appropriate title for the page.
  fills "Microblog" if nothing is provided.
%>
<% @title = full_title(yield(:title)) %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class='container'>
    <div class='content'>
      <%= yield %>
    </div>
      <%= render 'layouts/footer' %>
    </div>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
